.App {
  text-align: center;
}

.App-logo {
  /* padding: 16px; */
  height: 65px;
}

.navbar {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 0;
  /* border-bottom: 1px solid black; */
  /* list-style-type: none; */

  padding: 0;
  overflow: hidden;
  width: 100%;
}

.nav-item {
  list-style-type: none;
  float: left;
  /* padding-right: 50px; */
}

.nav-login {
  list-style-type: none;
  float: right;
  padding-right: 80px;
  padding-top: 20px;
}
.nav-link {
  color: black;
  /* text-align: center; */
  padding: 16px;
  text-decoration: none;
}

.footer {
  background-color: black;
  position: fixed;
  /* left: 0; */
  /* bottom: 0; */
  width: 100%;
  height: 50px;
  color: white;
  padding-top: 30px;
  text-align: center;
  font-size: 10px;
}

.profilePicture {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* float: right; */
}

.tim {
  float: right;
  padding-right: 46px;
}

.searchbar {
  padding-right: 46px;
  width: 170px;
  margin-right: 20px;
  margin-top: 15px;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 10px 20px;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  -webkit-border-radius: 33px;
  border-radius: 33px;
  font: Arial;
  color: rgb(0, 0, 0);
  -o-text-overflow: clip;
  text-overflow: clip;
  /* letter-spacing: 2px; */
  background: rgba(252, 252, 252, 1);
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
  /* text-shadow: 1px 1px 0 rgba(228, 107, 71, 0.66); */
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.userProfileName {
  font-size: 15px;
  margin-left: 8px;
  margin-top: 20px;
  float: right;
  color: black;
}

.upload {
  text-decoration: none;
  font-size: 15px;
  margin-left: 8px;
  margin-top: 20px;

  /* float: right; */
  color: black;
  padding-right: 14px;
}

.UploadName {
  margin-left: 8px;
  /* margin-top: 20px; */
  float: right;
  color: black;
}

.uploadImg {
  color: orange;
  font-size: 15px;
}

.appContainer {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.dropMenu {
  display: none;
  margin-top: 20px;
  float: right;
  padding-right: 46px;
}

@media only screen and (max-width: 750px) {
  .upload {
    display: none;
  }

  .tim {
    display: none;
  }

  .dropMenu {
    display: inline;
  }

  .searchbar {
    /* width: 60px; */
    margin-right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .searchbar {
    width: 90px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 580px) {
  .searchbar {
    width: 60px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .searchbar {
    display: none;
  }
}

.menuImg {
  margin-top: -10px;
  font-size: 20px;
}

.audio_player_container {
  z-index: 2;
}
