.App {
  text-align: center;
}

.App-logo {
  /* padding: 16px; */
  height: 10vmin;
}

.navbar {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  margin: 0;
  /* border-bottom: 1px solid black; */
  list-style-type: none;

  padding: 0;
  overflow: hidden;
}

.nav-item {
  list-style-type: none;
  float: left;
}

.nav-login {
  list-style-type: none;
  float: right;
  padding-right: 80px;
  padding-top: 20px;
}
.nav-link {
  color: black;
  /* text-align: center; */
  padding: 16px;
  text-decoration: none;
}

.footer {
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  color: white;
  padding-top: 30px;
  text-align: center;
  font-size: 10px;
}
