.Container {
  background: white;
  width: 315px;
  height: 280px;
  border-radius: 14px;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.Cover {
  width: 100%;
  height: 200px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
}

.Image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.Title {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  width: 170px;
}

.Content {
  padding-left: 20px;
  flex-direction: row;
  align-items: center;
  height: 80px;
}

.Logo {
  width: 44px;
  height: 44px;
  background: black;
  border-radius: 22px;
  margin-left: 20px;
}

.Caption {
  color: #3c4560;
  font-size: 20px;
  font-weight: 600;
}
.Subtitle {
  color: #b8bece;
  font-weight: 600;
  font-size: 15;
  text-transform: uppercase;
  margin-top: 4px;
}
.Wrapper {
  margin-left: 10px;
}
