$font-stack: Roboto, Helvetica Neue, sans-serif;
$primary-color: #00bcd4;
$main-bg: #fff;
$main-color: #c2c2ca;
$player-bg: rgba(0, 0, 0, 0.75);
$progress-bg: #303030;
$current-progress-color: #a0a0a0;
$title-color: #eee;
