.userField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control {
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px;
}

.control-error {
  border: 1px solid red;
}
