.Title-text {
  padding: 50px;
}

.slide-container {
  width: 100%;
  /* height: 100%; */
  margin: auto;
  float: left;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
  height: 400px;
  top: -60px;
  margin: auto;
}

.greetingNote {
  z-index: 2;
  margin-top: 250px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 80px;
}

.greetingContainer {
  position: relative;
}
