.Title-text {
  padding: 50px;
}

.slide-container {
  width: 70%;
  height: 200px;
  margin: auto;
  float: left;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  position: relative;
  height: 400px;
  top: -60px;
  margin: auto;
}
