.uploadContainer {
  padding: 30px;
  width: 360px;
  align-content: left;
  align-items: left;
  padding-top: 120px;
  padding-bottom: 190px;
  width: 50%;
  margin: 0 auto;
}

.uploadButton {
  width: 100px;
  background-color: #ff5500;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.uploadButton:hover {
  background-color: #ff7e3d;
}

.uploadButton:active {
  background-color: #3d7aff;
}

.uploadForm {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.uploadSongsImg {
  border: 1px solid black;

  width: 180px;
  height: 180px;
  margin-bottom: 20px;
  padding: 5px;
}

.imgUp {
  bottom: 0;
  display: fixed;
}
